body{
    background-color: #fff;
}
.head-content{
    text-align: left;

}
.head-content h1{
    max-width: 25%;
    max-height: 25%;
    word-break: break-all;
    font-weight: 300;
    font-size: 4.9em;
    font-family: 'Mukta Mahee';
}